:root{
    --main-color: #1D2553;
}
body{
    color: #333;
}
.c-pointer{
    cursor: pointer;
}

.no-border{
    border: 0px;
}
.App{
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}
.no-bg{
    background: transparent;
}
input, #message{
    border: 1px solid #ccc;
}
input, .main_btn, #message{
    padding: 10px 0px;
    border-radius: 2px;
    margin-top: 7px !important;
    width: 100%;
    max-width: 100% !important;
    min-width: 100%;
}
.main_form{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.main_btn{
    background: var(--main-color);
    color:#fff;
    width: 100%;
}
.main_form *{
    display: block;
    margin: 0 auto;
}
.pull-right{
    float: right;
}
#notes{
    margin:15px auto !important;
    width: 85%
}
#notes .note_body{
    display: inline-block;
    background: #eee;
    padding: 0px 15px 10px 15px;
    margin: 15px 0px;
    border-radius: 5px;
    width: 240px;
    margin-right: 10px;
}
.note_body .note_header{
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.note_body .note_message{
    padding: 10px;
}