@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --main-color: #1D2553;
}
/* Menu icon */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#menu{
    position: relative;
    right: -170px;
}
/*  */
.text-center{
    text-align: center;
}
body{
    color: #333;
    font-family: 'Open Sans', Verdana, sans-serif;
}
.c-pointer{
    cursor: pointer;
}
.side_nav{
    position: fixed;
    left: -125px;
    top: 0px;
    background: var(--main-color);
    width: 150px;
    transition: all .4s ease-in-out;
    height: 100%;
}
.side_nav.active{
    left: 0px;
}
.side_nav a{
    color: #fff;
    text-decoration: none;
}
.side_nav ul{
    list-style: none;
}
.side_nav ul li{
    padding: 10px;
}
.no-border{
    border: 0px;
}
.App{
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}
.no-bg{
    background: transparent;
}
input, #message{
    border: 1px solid #ccc;
}
input, .main_btn, #message{
    padding: 10px 0px;
    border-radius: 2px;
    margin-top: 7px !important;
    width: 100%;
    max-width: 100% !important;
    min-width: 100%;
}
.main_form{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.main_btn{
    background: var(--main-color);
    color:#fff;
    width: 100%;
    text-transform: uppercase;
}
.main_form *{
    display: block;
    margin: 0 auto;
}
.pull-right{
    float: right;
}
#notes{
    margin:15px auto !important;
    width: 85%
}
#notes .note_body{
    display: inline-block;
    background: #eee;
    padding: 0px 15px 10px 15px;
    margin: 15px 0px;
    border-radius: 5px;
    width: 240px;
    margin-right: 10px;
}
.note_body .note_header{
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.note_body .note_message{
    padding: 10px;
}